.proj {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  justify-content: center;
}
.projects {
  display: flex;
  justify-content: space-between;
  width: 1090px;
  height: 390px;
}

.proj h2 {
  font-size: xx-large;
  border-bottom: 1px solid black;
  width: 1060px;
  padding: 10px;
}
.project {
  background-color: whitesmoke; /* Background color for each project */
  padding: 20px; /* Padding inside each project */
  border-radius: 5px; /* Rounded corners for each project */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Box shadow for each project */
  margin: 20px;
  box-shadow: 2px 2px 30px rgb(121, 109, 109);
}

.project h3 {
  font-size: large; /* Font size for project titles */
}

.project p {
  margin-bottom: 10px; /* Margin bottom for paragraphs inside projects */
}
